html {
	font-size:10px
}

body {
	color:#444;
	text-rendering:optimizeLegibility;
    background-color: #FFF;
    padding:25px 15px 145px 15px;
    line-height:1.6;
    font-size: 16px;
	text-align:justify;
}

body,html {
	margin:0;
	height:100%
}

p {
	margin:0 0 10px
}

body {
	font-family:"Segoe UI","Segoe","Segoe WP","Myriad Set Pro Text",lucida,Helvetica,
	"Microsoft YaHei","PingFang SC",sans-serif;
	font-weight:400;
}

h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong {
	font-family:"Segoe UI","Segoe","Segoe WP","Myriad Set Pro Text",lucida,Helvetica,
	"Microsoft YaHei","PingFang SC",sans-serif;
	font-weight:400;
}

h1,h2,h3,h4,h5,h6 {
	font-family:"Segoe UI Light","Segoe WP Light","Myriad Set Pro Thin",lucida,Helvetica,
	"Microsoft YaHei Light","PingFang SC",sans-serif;
	font-weight:300;
	line-height:1.1;
	text-align: left
}

strong {
	font-family:"Segoe UI","Segoe","Segoe WP","Myriad Set Pro Text",lucida,Helvetica,
	"Microssoft YaHei","PingFang SC",sans-serif;
  	font-weight:600;
}

th {
	font-family:"Segoe UI","Segoe","Segoe WP","Myriad Set Pro Text",lucida,Helvetica,
	"Microsoft YaHei","PingFang SC",sans-serif;
	text-align:left;
	font-weight:600;
}

h1 {
	font-size:4rem;
	margin-top:15px;
	margin-bottom:15px;
}

h2 {
    font-size:3rem;
	margin-top: 30px;
	margin-bottom:10px;
}

h3 {
    font-size:2.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    font-size:2rem;
	margin-top: 15px;
    margin-bottom: 10px;
}

h5 {
    font-size:1.9rem;
	margin-top: 10px;
    margin-bottom: 5px;
}

h6 {
    font-size:1.8rem;
	margin-top: 10px;
    margin-bottom: 5px;
}

.keybinding {
	font-family:Menlo,Monaco,Consolas,Courier New,monospace;
	padding:2px 4px;
	font-size:90%;
	color:#0072be;
	background-color:#f4f2f9;
	border-radius:4px
}

a {
	color:#0072be;
	text-decoration:none;
	background-color:transparent
}
a:focus,a:hover {
	text-decoration:underline
}

img {
    max-width:100%;
	margin:auto;
	vertical-align:middle;
	border:0
}

code,kbd,pre,samp {
	font-family:Menlo,Monaco,Consolas,"Courier New",monospace
}

code {
	padding:2px 4px;
	font-size:90%;
	color:#c7254e;
	background-color:#f9f2f4;
	border-radius:4px
}

pre {
	display:block;
	padding:9.5px;
	margin:0 0 10px;
	font-size:13px;
	line-height:1.42857143;
	color:#333;
	word-break:break-all;
	word-wrap:break-word;
	background-color:#f5f5f5;
	border:1px solid #ccc;
	border-radius:4px;
	overflow:auto
}

pre code {
	padding:0;
	font-size:inherit;
	color:inherit;
	white-space:pre-wrap;
	background-color:transparent;
	border-radius:0
}

blockquote {
	padding:10px 20px;
	margin:0 0 20px;
	font-size:17.5px;
	border-left:5px solid #eee
}

blockquote ol:last-child,blockquote p:last-child,blockquote ul:last-child {
	margin-bottom:0
}

ol,ul {
	margin-top:0;
	margin-bottom:10px
}

table {
	border-spacing:0;
	border-collapse:collapse;
	background-color:transparent;
    width:100%;
	max-width:100%;
	margin-bottom:20px
}

table>caption+thead>tr:first-child>td,table>caption+thead>tr:first-child>th,table>colgroup+thead>tr:first-child>td,table>colgroup+thead>tr:first-child>th,table>thead:first-child>tr:first-child>td,table>thead:first-child>tr:first-child>th {
	border-top:0
}

table>tbody>tr>td,table>tbody>tr>th,table>tfoot>tr>td,table>tfoot>tr>th,table>thead>tr>td,table>thead>tr>th {
	padding:8px;
	line-height:1.42857143;
	vertical-align:top;
	border-top:1px solid #ddd
}
table>thead>tr>th {
	vertical-align:bottom;
	border-bottom:2px solid #ddd
}

table>tbody>tr:nth-of-type(odd) {
	background-color:#f9f9f9
}

