html {
	font-size:10px
}

body {
	font-family:chinese_normal,west_european_normal,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,sans-serif;
	color:#444;
	text-rendering:optimizeLegibility;
    background-color: #FFF;
    padding-top:25px;
	padding-bottom:145px;
    padding-right:15px;
	padding-left:15px;
    line-height:1.6;
    font-size: 16px;
}

body,html {
	margin:0;
	height:100%
}


@font-face {
	font-family:chinese_light;
	src:local("Microsoft YaHei Light"),local("Microsift YaHei UI Light"),local("HanHeiSC Thin");
	font-weight:400;
	font-style:normal;
	-webkit-font-smoothing:antialiased
}

@font-face {
	font-family:chinese_normal;
	src:local("Microsoft YaHei"),local("Microsift YaHei UI"),local("HanHeiSC Text");
	font-weight:400;
	font-style:normal;
	-webkit-font-smoothing:antialiased
}

@font-face {
	font-family:chinese_semibold;
	src:local("Microsoft YaHei Bold"),local("Microsift YaHei UI Bold"),local("HanHeiSC SemiBold");
	font-weight:400;
	font-style:normal;
	-webkit-font-smoothing:antialiased
}


@font-face {
	font-family:west_european_light;
	src:local("Segoe UI Light"),local("Segoe WP Light"),local("Myriad Set Pro Thin");
	font-weight:400;
	font-style:normal;
	-webkit-font-smoothing:antialiased
}

@font-face {
	font-family:west_european_normal;
	src:local("Segoe UI"),local("Segoe"),local("Segoe WP"),local("Myriad Set Pro Text");
	font-weight:400;
	font-style:normal;
	-webkit-font-smoothing:antialiased
}

@font-face {
	font-family:west_european_semibold;
	src:local("Segoe UI Semibold"),local("Segoe Semibold"),local("Segoe WP Semibold"),local("Myriad Set Pro Semibold");
	font-weight:400;
	font-style:normal;
	-webkit-font-smoothing:antialiased
}



p {
	margin:0 0 10px
}

h1,h2,h3,h4,h5,h6 {
	font-family:chinese_light,west_european_light,wf_segoe-ui_semilight,wf_segoe-ui_normal,HelveticaNeue-Thin,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,sans-serif;
	font-weight:400;
	line-height:1.1
}

h4,h5,h6 {
	font-weight:400;
}

strong {
	font-family:chinese_normal,west_european_normal;
	font-weight:600;
}

h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong {
	font-family: chinese_normal,west_european_normal;
	font-weight:400;
}

h1 {
	font-size:4rem;
	margin-top:15px;
	margin-bottom:15px;
}

h2 {
    font-size:3rem;
	margin-top: 30px;
	margin-bottom:10px;
}

h3 {
    font-size:2.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    font-size:2rem;
	margin-top: 15px;
    margin-bottom: 10px;
}

h5 {
    font-size:1.9rem;
	margin-top: 10px;
    margin-bottom: 5px;
}

h6 {
    font-size:1.8rem;
	margin-top: 10px;
    margin-bottom: 5px;
}

.keybinding {
	font-family:Menlo,Monaco,Consolas,Courier New,monospace;
	padding:2px 4px;
	font-size:90%;
	color:#0072be;
	background-color:#f4f2f9;
	border-radius:4px
}

a {
	color:#0072be;
	text-decoration:none;
	background-color:transparent
}
a:focus,a:hover {
	text-decoration:underline
}

img {
    max-width:100%;
	margin:auto;
	vertical-align:middle;
	border:0
}

code,kbd,pre,samp {
	font-family:Menlo,Monaco,Consolas,"Courier New",monospace
}

code {
	padding:2px 4px;
	font-size:90%;
	color:#c7254e;
	background-color:#f9f2f4;
	border-radius:4px
}

pre {
	display:block;
	padding:9.5px;
	margin:0 0 10px;
	font-size:13px;
	line-height:1.42857143;
	color:#333;
	word-break:break-all;
	word-wrap:break-word;
	background-color:#f5f5f5;
	border:1px solid #ccc;
	border-radius:4px;
	overflow:auto
}

pre code {
	padding:0;
	font-size:inherit;
	color:inherit;
	white-space:pre-wrap;
	background-color:transparent;
	border-radius:0
}

blockquote {
	padding:10px 20px;
	margin:0 0 20px;
	font-size:17.5px;
	border-left:5px solid #eee
}

blockquote ol:last-child,blockquote p:last-child,blockquote ul:last-child {
	margin-bottom:0
}

ol,ul {
	margin-top:0;
	margin-bottom:10px
}

table {
	border-spacing:0;
	border-collapse:collapse;
	background-color:transparent;
    width:100%;
	max-width:100%;
	margin-bottom:20px
}

th {
	text-align:left
}

table>caption+thead>tr:first-child>td,table>caption+thead>tr:first-child>th,table>colgroup+thead>tr:first-child>td,table>colgroup+thead>tr:first-child>th,table>thead:first-child>tr:first-child>td,table>thead:first-child>tr:first-child>th {
	border-top:0
}

table>tbody>tr>td,table>tbody>tr>th,table>tfoot>tr>td,table>tfoot>tr>th,table>thead>tr>td,table>thead>tr>th {
	padding:8px;
	line-height:1.42857143;
	vertical-align:top;
	border-top:1px solid #ddd
}
table>thead>tr>th {
	vertical-align:bottom;
	border-bottom:2px solid #ddd
}

table>tbody>tr:nth-of-type(odd) {
	background-color:#f9f9f9
}

